<footer>
    <a class="text-light" href="https://github.com/Jrol123/Bootstrap-controlSite" target="_blank">
        Ссылка на <strong>github</strong>
    </a>
    <button type="button" class="btn btn-primary btn-sm" id="alertButton" onclick="alert('Тестовое оповещение')">
        Кнопка для проверки уведомлений
    </button>
    <a type="button" class="btn btn-primary btn-sm" id="exitButton" href="{% url 'logout' %}?next={% url 'main' %}" target="_self">
        Выход из аккаунта
    </a>
    <a class="text-light" href="t.me/blueViolin34" target="_blank">
        Ссылка на <strong>telegram</strong>
    </a>
    {#    <script src = "{% static 'js/script.js'%}" ></script>#}
</footer>