<footer>
    <a class="text-light" href="https://github.com/Jrol123/Bootstrap-controlSite" target="_blank">
        Ссылка на <strong>github</strong>
    </a>
    <a type="button" class="text-light" id="alertButton" onclick="alert('Тестовое оповещение')" href="">
        Кнопка для проверки уведомлений
    </a>
    {% if user.is_authenticated %}
    <a class="text-light" id="exitButton" href="{% url 'logout' %}?next={% url 'main' %}" target="_self">
        Выход из аккаунта
    </a>
    {% endif %}
    <a class="text-light" href="t.me/blueViolin34" target="_blank">
        Ссылка на <strong>telegram</strong>
    </a>
    {#    <script src = "{% static 'js/script.js'%}" ></script>#}
</footer>