{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
{% include "head.html" %}
<body>
{% include "up_nav.html" %}
<main>
    {% include "nav.html" %}


    <!--	Login-->
    {#	<div class="modal fade" id="account-log" tabindex="-1" role="dialog" aria-labelledby="account-log" aria-hidden="true">#}
    {#		<div class="modal-dialog modal-dialog-centered" role="document">#}
    {#			<div class="modal-content">#}
    {#				<div class="modal-header">#}
    {#					<h3 class="modal-title" id="exampleModalLongTitle">Вход в аккаунт</h3>#}
    {#					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">#}
    {#						<span aria-hidden="true">&times;</span>#}
    {#					</button>#}
    {#				</div>#}
    {#				<div class="modal-body">#}
    {#					<div class="mb-3" id="email-login">#}
    {#						<label for="email" class="form-label">Адрес электронной почты</label>#}
    {#						<input type="email" class="form-control" id="email" placeholder="name@example.com">#}
    {#					</div>#}
    {#					<div class="mb-3" id="password-login">#}
    {#						<label for="password" class="form-label">Пароль</label>#}
    {#						<input type="password" class="form-control" id="password">#}
    {#					</div>#}
    {#				</div>#}
    {#				<div class="modal-footer">#}
    {#					<button type="button" class="btn btn-primary">Войти</button>#}
    {#				</div>#}
    {#			</div>#}
    {#		</div>#}
    {#	</div>#}

    <div id="newsbar" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#newsbar" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#newsbar" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#newsbar" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/amazon_1.jpg' %}" class="d-block w-100" alt="forest">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Прекрасный тропический лес</h5>
                    <p>Пояснение 1</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/amazon_2.jpg' %}" class="d-block w-100" alt="animals">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Новый вид попугаев появился неподалёку от Аляски</h5>
                    <p>Пояснение 2</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/amazon_3.jpeg' %}" class="d-block w-100" alt="fire">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Пожары полыхают повсюду</h5>
                    <p>Пояснение 3</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#newsbar" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#newsbar" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!--	Alert-->
    <div class="alert alert-warning alert-dismissible fade show" aria-hidden="true" role="alert" id="no-field-alert">
        <strong>Упс!</strong><br>Сайт всё ещё находится в разработке. Просим быть терпеливыми.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" data-toggle="tooltip"
                title="Оставляйте ваши предложения и замечания на github"></button>
    </div>

    <div class="paragraph" id="about">
        <h1>О нашей организации</h1>
        <section>
            <h2>Кто мы</h2>
            <p><strong>Организация защиты лесов Амазонии</strong> — серьёзная организация!</p>
            <p>
                Каждый год выжигается огромное количество лесов! И только мы, люди, способны этому противостоять!<br>
                Наша организация занимается защитой лесов Амазонии уже более 5-ти лет, и за это время мы добились
                значительных успехов в области защиты окружающей среды!
            </p>
        </section>
        <section>
            <h2>Как мы это делаем</h2>
            <p>Всё очень просто! Мы <strong>проводим экскурсии</strong>, тем самым собирая средства на защиту лесов и
                просвещая людей!</p>
            <p>
                Подробности про экскурсии вы сможете узнать <a class="link-dark" href="#excursion">ниже</a>.
            </p>
        </section>
    </div>
    <div class="paragraph" id="forest">
        <h1>О лесах Амазонии</h1>
        <section>
            <h2>Местонахождение</h2>
            <p>Захватывает территорию девяти государств: (Бразилия, Перу, Колумбия, Венесуэла, Эквадор, Боливия, Гайана,
                Суринам, Французская Гвиана).</p>
        </section>
        <section>
            <h2>Фауна</h2>
            <p>
                В амазонских джунглях обитает много животных, которые могут представлять серьёзную опасность для
                человека.
            </p>
            <p>
                Из крупных хищников здесь обитают ягуар и кайман. Также, здесь обитают змеи анаконда и ядовитые шушуя и
                жарарака, а также «коричневый паук» Loxosceles. В реках водятся электрические скаты, пираньи, рыба
                кандеру (якобы способная проникать в мочевыводящие пути человека и других животных), а также
                пресноводный дельфин иния.
            </p>
            <p>
                На деревьях живут различные виды бесхвостых земноводных из семейства Древолазов, кожа которых выделяет
                сильный липофильный яд — батрахотоксин. Здесь также обитают различные паразиты и переносчики
                инфекционных заболеваний. В частности, некоторые виды летучих мышей являются естественным резервуаром
                вируса бешенства, а москиты — переносчики лейшманиозов.
            </p>
        </section>
    </div>
</main>
{% include "footer.html" %}
</body>
</html>