{% load static %}
<nav id="nav-bar">
    <ul>
        <li class="nav-item dropdown">
            <a href="#" class="link-light nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">Информация</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'main' %}#about" class="link-dark dropdown-item">О нас</a>
                </li>
                <li>
                    <a href="{% url 'main' %}#forest" class="link-dark dropdown-item">О лесах Амазонии</a>
                </li>
                <li>
                    <a href="{% url 'main' %}#FAQ" class="link-dark dropdown-item">ЧаВО</a>
                </li>
            </ul>
        </li>
    </ul>
    <a href="{% url 'excursions' %}" target="_self" class="link-light">Экскурсии</a>
    <ul>
        <li class="nav-item dropdown">
            <a href="#" class="link-light nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">Дополнительно</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'subscription' %}" class="link-dark dropdown-item">Подписаться на рассылку</a>
                </li>
                <li>
                    <a href="{% url 'quiz' %}" class="link-dark dropdown-item">Опрос</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>