#above-header{
	text-align: end;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin: 5px 10px;
}

#img_logo{
	--size-t: clamp(3rem, 5vw + 1.3rem,10rem);
	width: calc(var(--size-t) + 1rem);
	height: var(--size-t);
}

#above-header h1{
	font-size: clamp(1rem, 2vw + 0.9rem,6rem);
	width: auto;
}

#above-header a{
	font-size: clamp(0.3rem, 1vw + 0.25rem ,1.2rem);
	width: auto;
}

#nav-bar{
	display: flex;
	background: royalblue;
	justify-content: space-around;
	position: sticky;
	z-index: 1;
	top: 0;
	min-height: clamp(0.5rem,4vw + 0.4rem,1rem);
	align-items: center;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

li{
	display: list-item;
}

.link-light{
	offset: none;
	text-decoration: none;
	font-size: clamp(0.5rem, 2vw + 0.4rem, 1.5rem);
}
