main {
    min-height: 38vmax;
}

h1 {
    text-align: center;
    font-size: clamp(2rem, 6vw + 1.3em, 5rem);
}

h2 {
    font-size: clamp(1.5rem, 4vw + 1.1rem, 4rem);
}

h3 {
    font-size: clamp(1.3rem, 4vw + 1rem, 2rem);
}

h4 {
    font-size: clamp(0.5rem, 2vw + 0.45rem, 1.7rem);;
}

p {
    font-size: clamp(1rem, 4vw + 0.4rem, 1.6rem);
    padding: 0 3px;
}

.carousel-item {
    height: auto;
    max-height: 500px;
    text-shadow: 1px 0 0px black,
    0 1px 0px black,
    -1px 0 0px black,
    0 -1px 0px black;
}

.paragraph {
    margin-top: clamp(2rem, 2vw + 1rem, 5rem);
}

section {
    margin: 2em 0;
}

#tour-masters {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
}

#tour-masters a {
    font-size: clamp(0.8rem, 4vw + 0.4rem, 1.6rem);
    padding: 0 3px;
}

.card {
    margin: 5px 0;
}

.big-card {
    max-height: 500px;
}

#crumb {
    font-size: 1.5em;
}

.breadcrumb {
    margin-left: 3px;
}

.accordion-button:not(.collapsed) {
    background: dodgerblue;
}

.accordion-button.collapsed {
    color: black
}

.accordion-button:not(.collapsed) h4 {
    color: white
}

#accordion-row {
    width: 100%;
}

.alert-warning {
    font-size: clamp(0.8rem, 4vw + 0.4rem, 1rem);
}

/*TODO: Починить отображение в полноэкранном режиме*/
#congrats-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vmax;
}

#congrats {
    text-align: center;
    width: 50vw;
    background: #eeeeee;
}

#subsc_div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.quiz-center {
    padding: 5px 0px;
}

.quiz-center h3 {
    margin: 22px 0px;
    text-align: center;
}

.quiz-center form {
    margin: 5px 0px;
    text-align: center;
}

.btn-continue {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.form-control:disabled {
    border: var(--bs-border-width) #c5e2ff solid;
    background: white;
}

#results {
    font-size: clamp(0.8rem, 2vw + 0.2vw, 2rem);
}

.result-exit {
    display: flex;
    font-size: clamp(0.5rem, 1rem + 0.1vw, 1.6rem);
    align-content: center;
    flex-direction: row;
    align-items: center;
}
