{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
{% include "head.html" %}
<body>
{% include "up_nav.html" %}
<main>
    {% include "nav.html" %}
    <div class="paragraph" id="excursion">
        <h1>Об экскурсиях</h1>
        <section>
            <h2>План экскурсий</h2>
            <p>
                *Вставить информацию про проводимые экскурсии*
            </p>
        </section>
        <section>
            <h2>Оплата</h2>
            <p>
                *Вставить информацию про проводимые экскурсии*
            </p>
        </section>
        <section>
            <h2>Список экскурсоводов</h2>
            <div class="row" id="tour-masters">
                <div class="card" style="width: 18rem;">
                    <img src="{% static '' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Сотрудник</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Узнать более подробно</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="{% static '' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Сотрудник</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Узнать более подробно</a>
                    </div>
                </div>
                <div class="card d-none d-md-block" style="width: 18rem;">
                    <img src="{% static '' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Сотрудник</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Узнать более подробно</a>
                    </div>
                </div>
                <div class="card d-none d-md-block" style="width: 18rem;">
                    <img src="{% static '' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Сотрудник</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Узнать более подробно</a>
                    </div>
                </div>
                <div class="card d-none d-lg-block" style="width: 18rem;">
                    <img src="{% static '' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Сотрудник</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Узнать более подробно</a>
                    </div>
                </div>
                <div class="card d-none d-lg-block" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Сотрудник</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Узнать более подробно</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="paragraph" id="FAQ">
        <h1>Частозадаваемые вопросы</h1>
        <div>
            <nav aria-label="FAQ-crumb" id="crumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ЧаВО</li>
                </ol>
            </nav>
        </div>
        <div class="row" id="accordion-row">
            <div class="accordion col-lg-6 col-md-6" id="acc1">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="he11">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#co11" aria-expanded="true" aria-controls="co11">
                            <h4>
                                Вопрос #1
                            </h4>
                        </button>
                    </h2>
                    <div id="co11" class="accordion-collapse collapse" aria-labelledby="he11" data-bs-parent="#acc1">
                        <div class="accordion-body">
                            <p>
                                <strong>This is the first item's accordion body.</strong> It is shown by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>,
                                though the transition does limit overflow.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="he12">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#co12" aria-expanded="false" aria-controls="co12">
                            <h4>В чём сила, брат?</h4>
                        </button>
                    </h2>
                    <div id="co12" class="accordion-collapse collapse" aria-labelledby="he12" data-bs-parent="#acc1">
                        <div class="accordion-body">
                            <p>
                                Вот скажи мне, американец, в чём сила? Разве в деньгах? Вот и брат говорит, что в
                                деньгах. У тебя много денег, и чего? Я вот думаю, что сила в правде: у кого правда, тот
                                и сильнее
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="he13">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#co13" aria-expanded="false" aria-controls="co13">
                            <h4>Вопрос с прокручивающимся текстом</h4>
                        </button>
                    </h2>
                    <div id="co13" class="accordion-collapse collapse" aria-labelledby="he13" data-bs-parent="#acc1">
                        <div class="accordion-body overflow-scroll big-card">
                            <p>
                                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                                сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее
                                стандартное заполнение шаблона, а также реальное распределение букв и пробелов в
                                абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш
                                текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML
                                используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам
                                "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
                                настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые
                                версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                                <br><br>
                                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                                сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее
                                стандартное заполнение шаблона, а также реальное распределение букв и пробелов в
                                абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш
                                текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML
                                используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам
                                "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
                                настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые
                                версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                                <br><br>
                                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                                сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее
                                стандартное заполнение шаблона, а также реальное распределение букв и пробелов в
                                абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш
                                текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML
                                используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам
                                "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
                                настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые
                                версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                                <br><br>
                                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                                сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее
                                стандартное заполнение шаблона, а также реальное распределение букв и пробелов в
                                абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш
                                текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML
                                используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам
                                "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
                                настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые
                                версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion col-lg-6 col-md-6" id="acc2">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="he21">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#co21" aria-expanded="true" aria-controls="co21">
                            <h4>
                                Вопрос #1
                            </h4>
                        </button>
                    </h2>
                    <div id="co21" class="accordion-collapse collapse" aria-labelledby="he21" data-bs-parent="#acc2">
                        <div class="accordion-body">
                            <p>
                                <strong>This is the first item's accordion body.</strong> It is shown by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>,
                                though the transition does limit overflow.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="he22">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#co22" aria-expanded="false" aria-controls="co22">
                            <h4>В чём сила, брат?</h4>
                        </button>
                    </h2>
                    <div id="co22" class="accordion-collapse collapse" aria-labelledby="he22" data-bs-parent="#acc2">
                        <div class="accordion-body">
                            <p>
                                Вот скажи мне, американец, в чём сила? Разве в деньгах? Вот и брат говорит, что в
                                деньгах. У тебя много денег, и чего? Я вот думаю, что сила в правде: у кого правда, тот
                                и сильнее
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="he23">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#co23" aria-expanded="false" aria-controls="co23">
                            <h4>Вопрос с прокручивающимся текстом</h4>
                        </button>
                    </h2>
                    <div id="co23" class="accordion-collapse collapse" aria-labelledby="he23" data-bs-parent="#acc2">
                        <div class="accordion-body overflow-scroll big-card">
                            <p>
                                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                                сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее
                                стандартное заполнение шаблона, а также реальное распределение букв и пробелов в
                                абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш
                                текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML
                                используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам
                                "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
                                настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые
                                версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                                <br><br>
                                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                                сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее
                                стандартное заполнение шаблона, а также реальное распределение букв и пробелов в
                                абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш
                                текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML
                                используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам
                                "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
                                настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые
                                версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                                <br><br>
                                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                                сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее
                                стандартное заполнение шаблона, а также реальное распределение букв и пробелов в
                                абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш
                                текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML
                                используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам
                                "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
                                настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые
                                версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                                <br><br>
                                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                                сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее
                                стандартное заполнение шаблона, а также реальное распределение букв и пробелов в
                                абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш
                                текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML
                                используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам
                                "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
                                настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые
                                версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    {% include 'footer.html' %}
</footer>
</body>
</html>