{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% include 'head.html' %}
<body>
{% include 'up_nav.html' %}
<main>
    {% include "nav.html" %}
    <form style="margin: 0.25em 0">
        <div id="subsc_div" style="background: url('{% static 'img/amazon_bkg.jpg' %}') center">
            <h2 class="text-white" style="
                text-align: center;
                text-shadow: 1px 1px 5px black;"> Амазонские новости </h2>
            <div class="form-floating col-10" id="mail-inp">
                <input type="email" class="my-form col-12" id="floatingInput" placeholder="name@example.com" required>
            </div>
            <div style="height: 1em"></div>
            <button class="btn btn-primary col-10" id="button-inp" onclick="subscribe()">
                Подписаться на новостную рассылку
            </button>
            <div class="col-8 my-thx" id="thx-id" style="display: none; text-align: center; color: white">
                <p>Спасибо за подписку</p>
            </div>
            <br>
        </div>
    </form>

    <script>
        function subscribe() {
            subscribe_call();
        }
    </script>

    <!-- Javascript Inc-->

</main>
{% include 'footer.html' %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>
</body>
</html>