<!DOCTYPE html>
<html lang="ru">

{% load static %}

{% include 'head.html' %}

<body>
<div class="signinform">

    <!-- main content -->
    <div class="w3l-form-info" id="congrats-form">
        <div class="w3_info" id="congrats">
            <!-- Сделать через for -->
            <p>Спасибо за регистрацию, {{ second }} {{ first }} {{ third }} проживающий(ая) в городе {{ town }}
                с номером телефона {{ phone }} и имеющая следующих любимых животных:</p>
            {% for anml in animals %}
                <p>{{ anml }}</p>
            {% endfor %}
            <br>
            <p><a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                  href="{% url 'main' %}">Вернуться на главную</a></p>
        </div>
    </div>
    <!-- //main content -->


</div>

<!-- fontawesome v5-->
<script src="{% static '/login_static/js/fontawesome.js' %}"></script>

</body>

</html>