<!DOCTYPE html>
<html lang="zxx">

{% load static %}

<head>
    <title>Login</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/login_static/css/login_style.css' %}" type="text/css" media="all" />
    <!--include bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>

<body>
<div class="signinform">

    <!-- container -->
    <div class="container">
        <!-- main content -->
        <div class="w3l-form-info">
            <div class="w3_info">
                <p>Спасибо за регистрацию, {{ first }} {{ second }} {{ third }} проживающий(ая) в городе {{ town }}
                    с номером телефона {{ phone }}</p><br>
                <p>Ходи теперь оглядывайся</p><br>
                <p><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'main' %}">Вернуться на главную</a></p>
            </div>
        </div>
        <!-- //main content -->
    </div>
    <!-- //container -->


</div>

<!-- fontawesome v5-->
<script src="{% static '/login_static/js/fontawesome.js' %}"></script>

</body>

</html>